* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  font-family: Poppins, sans-serif;
  font-style: normal;
}

body {
  width: 90rem;
  height: 320.3125rem;
  background: var(--theme-1-neutrals-10, #f4f5f7);
}

header {
  width: 90rem;
  height: 57.2222rem;
  fill: var(--neutrals-n-0, #fff);
  background-image: url(Assets/header\ background\ shape-desktop.svg);
}

.top-nav {
  display: inline-flex;
  padding: 1.0667rem 9.9444rem;
  justify-content: space-around;
  align-items: flex-start;
  gap: 44.5333rem;
}

.logo-placeholder {
  display: flex;
  padding: 0.5556rem 0.6667rem;
  align-items: center;
}

.logo {
  color: var(--primary-b-400, #6070ff);
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.1111rem;
}

.item-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.4444rem;
}

.nav-frame {
  display: flex;
  padding: 0.5556rem 0.6667rem;
  align-items: center;
  gap: 0.5556rem;
}

.frame-text {
  color: var(--neutrals-n-600, #344563);
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.3333rem;
}

.header-area {
  display: inline-flex;
  flex-direction: column;
  padding: 18.063rem 16.25rem;
  width: 87.337rem;
  background-image: url(Assets/Header\ bg.svg);
  background-size: contain;
  background-position-y: 2.5rem;
  background-position-x: 0.9375rem;
  gap: 1.25rem;
  align-content: center;
}

.header-heading {
  display: flex;
  width: 57.5rem;
  height: 7.625rem;
  flex-direction: column;
  color: var(--theme-1-neutrals-1, #091e42);
  font-size: 3rem;
  font-weight: 700;
}

.header-text {
  width: 57.5rem;
  height: 6.8571rem;
  color: var(--theme-1-neutrals-3, #344563);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.lets-connect {
  color: var(--primary-b-300, #7f8cff);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.scicons {
  width: 10.61rem;
  height: 1.25rem;
}

.list-portfolio {
  background-color: #f7f7f9;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 8.9444rem;
  padding: 8.9444rem;
  margin-right: 12em;
}

.card {
  background-color: #fff;
  display: flex;
  padding: 1.15rem;
  border-radius: 1.5rem;
}

.card-desc {
  display: flex;
  padding: 1.15rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.title {
  color: #172b4d;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
}

.tech {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.description {
  width: 18.438rem;
  height: 4.75rem;
  color: #344563;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

.tags {
  display: flex;
  gap: 0.75rem;
}

.tag {
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.023rem;
  border-radius: 0.5rem;
  background: #ebebff;
  padding: 0.25rem 0.75rem;
  color: #6070ff;
}

.button {
  display: flex;
  padding: 0.75rem;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid #6070ff;
  color: #396df2;
  font-size: 1.0625rem;
  background: none;
  font-weight: 500;
}

.button-hover {
  display: flex;
  padding: 0.75rem; /* 12px / 16px = 0.75rem */
  align-items: center;
  gap: 0.625rem; /* 10px / 16px = 0.625rem */
  border-radius: 0.5rem; /* 8px / 16px = 0.5rem */
  background: var(--primary-b-500, #4053fc);
  box-shadow: 0 0.5rem 1rem 0 rgba(64, 83, 252, 0.24); /* 8px / 16px = 0.5rem, 16px / 16px = 1rem */
  font-size: 1.0625rem; /* 17px / 16px = 1.0625rem */
  color: #f4f5f7;
  font-weight: 500;
  border: none;
}

.canopy {
  color: #344563;
  font-size: 1.125rem; /* 18px / 16px = 1.125rem */
  font-style: normal;
  font-weight: 600;
}

.field {
  color: #7a869a;
  font-size: 0.8125rem; /* 13px / 16px = 0.8125rem */
  font-style: normal;
  font-weight: 600;
  line-height: 1rem; /* 16px / 16px = 1rem */
}

.about {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.5rem; /* 24px / 16px = 1.5rem */
  background-image: url(Assets/about\ myself\ -\ background-\ shape-\ desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 90rem; /* 1440px / 16px = 90rem */
  height: 57.75rem; /* 924px / 16px = 57.75rem */
  padding-bottom: 4em;
}

.about-myself {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  padding: 7.125rem 1.5rem;
  margin-left: 7rem;
  margin-top: 3rem;
}

.about-text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem; /* 12px / 16px = 0.75rem */
}

.about-heading {
  display: flex;
  width: 27.938rem; /* 447px / 16px = 27.938rem */
  height: 2.063rem; /* 33px / 16px = 2.063rem */
  flex-direction: column;
  justify-content: center;
  color: var(--theme-1-neutrals-1, #091e42);
  font-size: 2.5rem; /* 40px / 16px = 2.5rem */
  font-weight: 700;
  line-height: 3.25rem; /* 52px / 16px = 3.25rem */
}

.about-text {
  width: 27.938rem; /* 447px / 16px = 27.938rem */
  height: 6.375rem; /* 102px / 16px = 6.375rem */
  color: var(--neutrals-n-600, #344563);
  font-size: 1rem; /* 16px / 16px = 1rem */
  font-weight: 400;
  line-height: 1.5rem; /* 24px / 16px = 1.5rem */
}

.skill-list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  padding: 7.125rem 1.5rem;
  margin-top: 3em;
}

.frame12 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.language {
  width: 36.375rem; /* 582px / 16px = 36.375rem */
  color: var(--theme-1-neutrals-3, #344563);
  font-size: 1.25rem; /* 20px / 16px = 1.25rem */
  font-weight: 500;
  line-height: 1.5rem; /* 24px / 16px = 1.5rem */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.language-list {
  display: flex;
  gap: 0.75rem; /* 12px / 16px = 0.75rem */
  margin-top: 2rem;
  padding-right: 12rem;
}

.frame10 {
  display: flex;
  width: 7.625rem; /* 122px / 16px = 7.625rem */
  padding: 0.75rem 0.75rem 1.25rem 0.75rem; /* 12px / 16px = 0.75rem, 20px / 16px = 1.25rem */
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem; /* 16px / 16px = 1rem */
  border-radius: 0.5rem; /* 8px / 16px = 0.5rem */
  background: var(--neutrals-n-10, #f7f7f9);
}

.language-icon {
  width: 3rem; /* 48px / 16px = 3rem */
  height: 3rem; /* 48px / 16px = 3rem */
  border-radius: 3rem; /* 48px / 16px = 3rem */
  border: 0.0625rem solid var(--neutrals-n-0, #fff); /* 1px / 16px = 0.0625rem */
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.language-text {
  display: flex;
  width: 6.125rem; /* 98px / 16px = 6.125rem */
  height: 1.5rem; /* 24px / 16px = 1.5rem */
  flex-direction: column;
  justify-content: center;
  color: var(--neutrals-n-700, #253858);
  font-size: 0.938rem; /* 15px / 16px = 0.938rem */
  font-weight: 500;
  line-height: 1.25rem; /* 20px / 16px = 1.25rem */
}

.seperator {
  width: 42.75rem; /* 684px / 16px = 42.75rem */
  height: 0.0625rem; /* 1px / 16px = 0.0625rem */
  background: var(--neutrals-n-40, #dfe1e6);
}

.contact-form {
  width: 90rem;
  height: 53.25rem;
  fill: var(--primary-b-400, #6070ff);
  background-image: url(Assets/contact\ form-\ background-shape-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form-align {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background-image: url(Assets/contact\ form\ background\ shapes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 9rem;
  height: 50rem;
  background-position-y: 5rem;
  background-position-x: -2rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6875rem;
}

.contact-me {
  color: var(--neutrals-n-0, #fff);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.contact_desc {
  width: 35.5625rem;
  height: 6.375rem;
  color: var(--primary-b-50, #ebebff);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
}

input {
  width: 28.4375rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid var(--base-100, #cfd8dc);
  background: var(--mono-white, #fff);
  color: var(--neutral-n-800, #172b4d);
  font-size: 0.9375rem;
  font-weight: 400;
  text-indent: 4%;
}

textarea {
  width: 28.4375rem;
  height: 10.625rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid var(--base-100, #cfd8dc);
  background: var(--mono-white, #fff);
  font-size: 0.8125rem;
  text-align: start;
  line-height: 2.8125rem;
  text-indent: 4%;
}

.get-in-touch {
  display: flex;
  padding: 0.75rem 1rem;
  align-items: center;
  border-radius: 0.5rem;
  background: var(--neutrals-n-0, #fff);
  border: none;
  color: #4053fc;
  font-weight: 500;
}
